@model FeedbackViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (Model == null)
{
    <p>Model is null</p>
}
else
{
    

<div class="container">
    <div class="header">
        <img src="/images/logo.png" alt="Logo" class="logo" />
        <div class="navigation">
            <button class="btn">Positiva kommentarer</button>
            <button class="btn">Logga ut</button>
        </div>
    </div>

    <div class="feedback-section">
       @*  Positive *@
        <div class="feedback-category">
            <div class="d-flex justify-content-between">
            <button class="category-btn">Positiva</button>
                    <div class="dropdown mb-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Filtrera kommentarer
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="@Url.Action("Index", new { filter = "latest" })">Senaste</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", new { filter = "unanswered" })">Olästa</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index")">Alla</a></li>
                        </ul>
                    </div>
                </div>
            <div class="feedback-list">
                @foreach (var comment in Model.PositiveComments)
                {
                        <div class="feedback-item">
                            <p>@comment.Content</p>
                            <form asp-action="Create" asp-controller="Response" method="post" style="display:inline;">
                                <input type="hidden" name="CommentId" value="@comment.CommentId" />
                                <input type="text" name="ResponseContent" placeholder="Svara här." required />
                                <button class="btn small" data-bs-toggle="modal" data-bs-target="#replyModal-@comment.CommentId"><i class="fa-regular fa-comment-dots"></i></button>
                            </form>
                            <form asp-action="Delete" asp-controller="Comment" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@comment.CommentId" />
                                <button type="submit" class="btn small">Ta bort från listan</button>
                            </form>
                        </div>
                }
            </div>
        </div>
            @*  Kritik! *@
        <div class="feedback-category">
                <div class="d-flex justify-content-between">
                    <button class="category-btn">Kritik</button>
                    <div class="dropdown mb-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Filtrera kommentarer
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="@Url.Action("Index", new { filter = "latest" })">Senaste</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", new { filter = "unanswered" })">Olästa</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index")">Alla</a></li>
                        </ul>
                    </div>
                </div>
            <div class="feedback-list">
                @foreach (var comment in Model.CriticalComments)
                {
                        <div class="feedback-item">
                            <p>@comment.Content</p>
                            <button class="btn small" data-bs-toggle="modal" data-bs-target="#deleteModal" type="button"><i class="fa-solid fa-magnifying-glass-plus"></i></button>
                            <form asp-action="Create" asp-controller="Response" method="post" style="display:inline;">
                                <input type="hidden" name="CommentId" value="@comment.CommentId" />
                                <input type="text" name="ResponseContent" placeholder="Svara här." required />
                                <button class="btn small" data-bs-toggle="modal" data-bs-target="#replyModal-@comment.CommentId"><i class="fa-regular fa-comment-dots"></i></button>
                            </form>
                            <form asp-action="Delete" asp-controller="Comment" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@comment.CommentId" />
                                <button type="submit" class="btn small"><i class="fa-regular fa-trash-can"></i></button>
                            </form>
                        </div>
                }
            </div>
        </div>
            @*  FRÅGOR! *@
        <div class="feedback-category">
                <div class="d-flex justify-content-between">
                    <button class="category-btn">Frågor</button>
                    <div class="dropdown mb-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Filtrera kommentarer
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="@Url.Action("Index", new { filter = "latest" })">Senaste</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", new { filter = "unanswered" })">Olästa</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index")">Alla</a></li>
                        </ul>
                    </div>
                </div>
            <div class="feedback-list">
                @foreach (var comment in Model.Questions)
                {
                        <div class="feedback-item">
                            <p>@comment.Content</p>
                            <form asp-action="Create" asp-controller="Response" method="post" style="display:inline;">
                                <input type="hidden" name="CommentId" value="@comment.CommentId" />
                                <input type="text" name="ResponseContent" placeholder="Svara här." required />
                                <button class="btn small" data-bs-toggle="modal" data-bs-target="#replyModal-@comment.CommentId">Svara</button>
                            </form>
                            <form asp-action="Delete" asp-controller="Comment" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@comment.CommentId" />
                                <button type="submit" class="btn small">Ta bort</button>
                            </form>
                        </div>
                }
            </div>
        </div>
    </div>
</div>

    <div class="modal" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}

<style>
    body {
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
    }

    .container {
     
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 200px;
    }

    .navigation {
        display: flex;
        gap: 10px;
    }

    .feedback-section {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .feedback-category {
        background-color: #333;
        padding: 20px;
        border-radius: 10px;
        margin: 0 10px;
        flex: 0 0 30%;
    }

    .category-btn {
        background-color: white;
        color: black;
        border: none;
        padding: 10px 20px;
        margin-bottom: 20px;
     /*    cursor: pointer; */
        border-radius: 5px;
    }

    .feedback-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .feedback-item {
        background-color: #444;
        padding: 10px;
        border-radius: 5px;
    }

        .feedback-item input {
            margin-top: 10px;
            width: 100%;
            padding: 5px;
        }

    .btn {
        background-color: white;
        color: black;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        margin-top: 10px;
        border-radius: 5px;
    }

        .btn.small {
            font-size: 12px;
            padding: 5px 8px;
        }
</style>