@model IEnumerable<Comment>

<div class="container mt-5">
    <h2 class="text-center text-light">Comments</h2>
    <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-primary" href="/Comment/Create">Add New Comment</a>
    </div>
    <table class="table table-dark table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Content</th>
                <th scope="col">Category</th>
                <th scope="col">Date</th>
                <th scope="col">IsArchived</th>
                <th scope="col">IsAnswered</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model)
            {
                <tr>
                    <td>@comment.CommentId</td>
                    <td>@comment.Content</td>
                    <td>@comment.Category</td>
                    <td>@comment.DatePosted</td>
                    <td>@comment.IsArchived</td>
                    <td>@comment.IsAnswered</td>
                  
                    <td>
                        <a class="btn btn-sm btn-warning" href="/Comment/Details/@comment.CommentId"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                       
                        <form asp-action="Delete" asp-route-id="@comment.CommentId" method="post" style="display:inline-block;">
                            <button type="submit" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>